@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

h2{
  font-size: 30px !important;
  color: white;
}

p{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
h4{
  font-size: 20px !important;
  color: white;
}
header {
  background-color: rgb(144, 145, 147);
  height: 50px;
  display: flex;
  justify-content: start;
}
i{
  color: white;
  font-size: 30px ;
  margin: 0 10px;
}
.navbar{
  padding: 0px 0px !important;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
  /* background-color: aliceblue; */
}
.logo h5{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navHeader {
  background-color: blue;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.navHeader a{
  color: black;
  text-decoration: none;
}




/* ESTILOS DE NOSOTROS */
#nosotros{
  background-image: url('../Recursos/fondo-registro-inicio.jpg');
  background-size: cover ;
  padding: 0px 20px;
}
 
#nosotros .card {
  background-color: #813B80;
  height: 220px;
}

#nosotros .img-user{
  width: 160px;
}

#nosotros .title-about p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 35px;
}

.title-about h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 !important;
  font-size: 65px;
}


/* ESTILOS DE REGISTRO */

#registro{
  background-image: url('../Recursos/fondo-registro-inicio.jpg');
  background-size: cover ;
}

#registro label{
  font-weight: 500;
}

#registro input[type=text], input[type=date],  input[type=password] {
  border: 1px solid #8d7391 !important;
  border-radius: 4px;
  background-color: #C3A8C7;
  color: black;
  font-weight: 500;
}

#registro .btn-violet{ 
  background-color: #791b77;
  font-weight: 500;
  color: white;
}

#registro .btn-violet:hover{
  background-color: #882386;
  font-weight: 500;
}

#registro p {
  color:black;
  font-weight: bold !important;
  font-family: 'Roboto', sans-serif;
}
#registro #footer p {
  color: white;
}

/* ESTILOS DE LOGIN */

#login{
  background-image: url('../Recursos/fondo-registro-inicio.jpg');
  background-size: cover ;
}
#login label{
  font-weight: 500;
}

#login input[type=text],input[type=password] {
  border: 1px solid #8d7391 !important;
  border-radius: 4px;
  background-color: #C3A8C7;
  color: black;
  font-weight: 500;
}

#login .btn-violet{ 
  background-color: #791b77;
  font-weight: 500;
  color: white;
}

#login .btn-violet:hover{
  background-color: #882386;
  font-weight: 500;
}
#login p {
  color: black;
  font-weight: bold !important;
  font-family: 'Roboto', sans-serif;
}

#login #footer p {
  color: white;
}
/* ESTILOS DE CURSOS */



/* ESTILOS DE CONTACTO */

.contacto{
  background-image: url('../Recursos/fondo-registro-inicio.jpg');
  background-size: cover ;
}

.contacto .title-contact, p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  display: inline-block;
}
.contacto a {
  color: white ;
}

.contacto input[type=text] {
  border: 1px solid #8d7391 !important;
  border-radius: 4px;
  background-color: #C3A8C7;
  color: black;
  font-weight: 500;
}

.contacto .btn-violet{ 
  background-color: #C985C8;
  color: white;
}

.btn-violet:hover{
  background-color: #791b77;
  font-weight: 500;
}
.contacto textarea{
  resize: none;
  border-radius: 4px;
  background-color: #C3A8C7;
  color: black;
}

.contacto label {
   font-weight: 600;
}
#footer a i{
  font-size: 22px ;
}

@media screen and (max-width: 375px) {

#nosotros h1 {
  font-size: 40px ;
}
#nosotros .card {
  width: 15rem;
}

}


