* {
  margin: 0;
  padding: 0;
}
/* No usar main */
#inicio-main,
#inicio-container,
.inicio-container-imagen,
.inicio-image,
.inicio-redes-container,
.inicio-redes,
.inicio-redes-title-logo {
  display: flex;
  justify-content: center;
}
.inicio-container-imagen,
.inicio-image,
.inicio-redes,
.inicio-redes-title-logo {
  align-items: center;
}

/* Main */
#inicio-container {
  background-image: url("../Recursos/fondo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 680px;
  align-items: flex-start;
}
#inicio-main {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

/* Container del title */
.inicio-title-container {
  width: 31%;
  height: 630px;
}
.inicio-title {
  /* text-align: justify; */
  margin-top: 30px;
  font-size: 75px !important;

  position: relative;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  width: 550px;
  text-align: start;
}
/* Fin container del title */

/* Container imagen y copyright*/
.inicio-container-imagen {
  width: 100%;
  height: 85%;
}
/* Container solo imagen */
.inicio-image {
  width: 31%;
  height: 630px;
  flex-direction: column;
}
/* Imagen */
.inicio-imagen {
  width: 750px;
  margin-top: 8.5rem;
}
/* Texto inicio-copyrigth */
.inicio-copyrigth {
  margin-right: 320px;
  font-size: 12px;
  color: white;
}
/* Fin container imagen y copyright */

/* Inicio container redes */
.inicio-redes-container {
  width: 31%;
  height: 630px;
  justify-content: flex-end;
  flex-direction: column;
}
.inicio-subtitulos {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 15%;
  width: 100%;
}
.inicio-subtitle-3 {
  font-size: 42px !important;
  font-family: "Roboto", sans-serif;
  color: white;
}
.inicio-subtitle-5 {
  font-size: 15px !important;
  font-family: "Roboto", sans-serif;
  color: white;
}
.inicio-redes {
  width: 100%;
  height: 28%;
  justify-content: space-around;
}
.inicio-redes-title-logo {
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
/* Fin container inicio redes */

@media (min-width: 320px) and (max-width: 1024px) {
  #inicio-container {
    min-height: 540px !important;
  }
  /* Navbar imagen y nombre proyecto */
  .nav-image-project {
    width: 100px;
  }
  .nav-name-project {
    color: white;
    
  }
  /*  Fin navbar img y name */

  #inicio-main {
    flex-direction: column;

  }

  /* Container title */
  .inicio-title-container {
    height: 180px;
    width: 100%;
    align-items: center;
  }
  .inicio-title {
    font-size: 25px !important;
    width: 200px;
    margin-left: 25px;
  }
  /* Fin Container title */

  /* Container logo y copyright */
  .inicio-image {
    width: 100%;
    margin-top: 0;
    height: 330px;
  }
  .inicio-imagen {
    width: 350px;
    margin-top: 70px;
  }
  .inicio-copyrigth {
    width: 150px;
    margin-right: 0px;
  }
  /* Fin container logo y copy */

  /* Container redes */
  .inicio-redes-container {
    width: 100%;
    height: 190px;
    justify-content: space-evenly;
  }
  .inicio-subtitulos {
    height: 40%;
  }
  .inicio-subtitle-3 {
    font-size: 22px !important;
  }
  .inicio-subtitle-5 {
    font-size: 12px !important;
  }
  .inicio-redes {
    height: 10%;
    display: flex;
    align-items: center;
  }
  .inicio-educart-redes {
    font-size: 15px !important;
  }
  .inicio-logo {
    width: 60px;
  }
  .inicio-redes-title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio-redes-social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .inicio-redes-social a i {
    width: 32px;
  }
}

/* PC  */
@media (min-width: 1024px) and (max-width: 1279px) {
  #inicio-container {
    min-height: 400px !important;
  }


  #inicio-main {
    flex-direction: row;
  }

  /* Container title */
  .inicio-title-container {
    height: 580px;
    width: 100%;
    align-items: center;
  }
  .inicio-title {
    font-size: 30px !important;
    width: 200px;
    margin-left: 25px;
    position: absolute;
  }
  /* Fin Container title */

  /* Container logo y copyright */
  .inicio-image {
    height: 580px;
    width: 100%;
    margin-top: 0;
  }
  .inicio-imagen {
    width: 500px;
    position: absolute;
    margin-top: 40px;
  }
  .inicio-copyrigth {
    width: 150px;
    margin-right: 50px;
    margin-top: 370px;
    margin-right: 170px;
    font-size: 10px !important;
    position: absolute;
  }
  /* Fin container logo y copy */

  /* Container redes */
  .inicio-redes-container {
    width: 100%;
    height: 580px;
    justify-content: flex-end;
  }
  .inicio-subtitulos {
    height: 10%;
  }
  .inicio-subtitle-3 {
    font-size: 22px !important;
  }
  .inicio-subtitle-5 {
    font-size: 12px !important;
  }
  .inicio-redes {
    height: 33%;
    display: flex;
    align-items: center;
  }
  .inicio-educart-redes {
    font-size: 15px !important;
  }
  .inicio-logo {
    width: 60px;
  }
  .inicio-redes-title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40%;
  }
  .inicio-redes-social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .inicio-redes-social a i {
    width: 32px;
  }
}
@media (min-width:1280px) and (max-width:1659px) {
  #inicio-container {
    height: 750px;
  }
  /* Container title */
  .inicio-title-container {
    height: 580px;
  }
  .inicio-title {
    width: 470px;
    margin-left: 10px;
  }
  /* Fin Container title */

  /* Container logo y copyright */
  .inicio-image {
    height: 580px;
    width: 100%;
    margin-top: 0;
  }
  .inicio-imagen {
    width: 600px;
    position: absolute;
    margin-top: 40px;
  }
  .inicio-copyrigth {
    width: 150px;
    margin-top: 26.5rem;
    margin-right: 220px;
    font-size: 13px !important;
    position: absolute;
  }
  /* Fin container logo y copy */

  /* Container redes */
  .inicio-redes-container {
    width: 100%;
    height: 580px;
  }
  .inicio-subtitulos {
    height: 10%;
  }
  .inicio-subtitle-3 {
    font-size: 34px !important;
  }
  .inicio-subtitle-5 {
    font-size: 12px !important;
  }
  .inicio-redes {
    height: 33%;
  }
  .inicio-educart-redes {
    font-size: 18px !important;
  }
  .inicio-logo {
    width: 60px;
  }
  .inicio-redes-title-logo {
    align-items: center;
    justify-content: center;
  }
  .inicio-redes-social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .inicio-redes-social a i {
    width: 32px;
  }
}



/* Media query pc pili */
@media (min-width:1660px){
  #inicio-container {
    height: 850px;
  }
  /* Container title */
  .inicio-title-container {
    height: 580px;
    width: 33.3%;
  }
  .inicio-title {
    font-size: 100px !important;
    width: 620px;
    margin-left: 30px;
  }
  /* Fin Container title */

  /* Container logo y copyright */
  .inicio-image {
    height: 580px;
    width: 33.3%;
    margin-top: 100px;

  }
  .inicio-imagen {
    width: 800px;
    position: absolute;
    margin-top: 40px;
    margin-right: 150px;
  }
  .inicio-copyrigth {
    width: 150px;
    margin-top: 33rem;
    margin-right: 300px;
    font-size: 14px !important;
    position: absolute;
  }
  /* Fin container logo y copy */

  /* Container redes */
  .inicio-redes-container {
    width: 33.3%;
    height: 580px;
    justify-content: flex-end;
  }
  .inicio-subtitulos {
    display: flex;
    height: 14%;
    width: 100%;
  }
  .inicio-subtitle-3 {
    font-size: 40px !important;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .inicio-subtitle-5 {
    font-size: 14.5px !important;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .inicio-redes {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .inicio-educart-redes {
    font-size: 15px !important;
  }
  .inicio-logo {
    width: 60px;
  }
  .inicio-redes-title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40%;
  }
  .inicio-redes-social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .inicio-redes-social a i {
    width: 32px;
  }
}
